<!--<p>user-list works!</p> -->
<div>
    <h2>List of users</h2>
    
    <button (click)="onAdd()" > Add User</button>
    <table>
        <thead>
            <tr>
                <th class="th" > EmpId</th>
                <th class="th">First Name</th>
                <th class="th">Last Name</th>
                <th class="th">Age</th>
                <th class="th">State</th>
                <th class="th">Delete/Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of popservice.users">
            <td class="td">{{user.empId |number}}</td>
            <td class="td">{{user.firstName}}</td>
            <td class="td">{{user.lastName}}</td>
            <td class="td">{{user.age | number}}</td>
            <td class="td">{{user.State}}</td>
            <td class="td"><button (click)="onDelete(user.empId)"> Delete</button>
                <button (click)="onedit(user.empId)" > Edit</button></td>
         
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="popservice.ShowDialog" style="display: block;">
    <div >
    <div >
       
       <app-user-delete *ngIf="popservice.showDeleteUser"></app-user-delete>
       <app-add-user *ngIf="popservice.showAddUser"></app-add-user>
        <app-user-edit *ngIf="popservice.showEditUser"></app-user-edit>
        <button type="button" (click)="onclose()" >Cancel</button>
    </div>
        
</div>

</div>